= form_for @document do |f|
  -if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  -if @document.course
    %h2 Adding to #{@document.course.code}
    = f.hidden_field :course_id, :value => @document.course.id
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
