= form_for @document, :html => {:multipart => true} do |f|
  -if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  -if @document.course
    %h2 Adding to #{@document.course.code}
    = f.hidden_field :course_id, :value => @document.course.id
  .field
    = f.label :category
    = f.select(:category, options_for_select(Document.categories))
  .field
    = f.label :year
    = f.text_field :year
  .field
    = f.label :semester
    = f.select(:semester, options_for_select(Document.semesters))
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :file
    = f.file_field :file
  .actions
    = f.submit 'Save'
