%h1 Listing documents

%table
  %tr
    %th Title
    %th Last Updated
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.title
      %td= "#{time_ago_in_words(document.updated_at)} ago"
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

%br
