%p#notice= notice

%h1 #{@document.course.code} - #{@document.title}

%table
  %tr
    %td
      %b Course:
    %td
      =link_to @document.course.code, course_path(@document.course)
  %tr
    %td
      %b Year:
    %td
      =@document.year
  %tr
    %td
      %b Semester:
    %td
      =@document.semester

%div
  -if @document.file.exists?
    =link_to @document.file.url, :class => 'btn' do
      %i.icon-download
      Download

= link_to 'Edit', edit_document_path(@document)
\|
= link_to "Back to #{@document.course.code}", course_path(@document.course)
