%h1 Listing courses

%table
  %tr
    %th Name
    %th Code
    %th Description
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.code
      %td= course.description
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Course', new_course_path
