-if user_signed_in? && current_user.admin?
  =link_to new_course_path, :class => 'btn' do
    %i.icon-plus-sign
    New Course
%table.table.table-striped
  %tr
    %th Name
    %th Code
    %th # of Documents
    %th Last Updated
    -if user_signed_in? && current_user.admin?
      %th

  - @courses.sort{|a,b| a.code <=> b.code}.each do |course|
    %tr
      %td= link_to course.code, course
      %td= course.name
      %td= course.documents.count
      %td= "#{time_ago_in_words(course.last_update_time)} ago"
      -if user_signed_in? && current_user.admin?
        %td
          .btn-group
            =link_to 'Show', course, :class => 'btn'
            =link_to 'Edit', edit_course_path(course), :class => 'btn'
            =link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete, :class => ['btn', 'btn-danger']
