-if user_signed_in?
  = link_to 'New Course', new_course_path, :class => 'btn'
%table.table.table-striped
  %tr
    %th Name
    %th Code
    %th # of Documents
    %th Last Updated
    -if user_signed_in?
      %th

  - @courses.each do |course|
    %tr
      %td= link_to course.code, course
      %td= course.name
      %td= course.documents.count
      %td= "#{time_ago_in_words(course.updated_at)} ago"
      -if user_signed_in?
        %td
          .btn-group
            =link_to 'Show', course, :class => 'btn'
            =link_to 'Edit', edit_course_path(course), :class => 'btn'
            =link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete, :class => ['btn', 'btn-danger']
