%p#notice= notice

.hero-unit
  %h1
    = @course.code
  %h2
    = @course.name
  %p
    = @course.description

%h2 
  Prerequisites
%table.table-striped
  %tr
    %th Code
    %th Title
  - @course.prerequisites.each do |prereq|
    %tr
      %td= link_to prereq.code, course_path(prereq)
      %td= prereq.name

%h2 Documents
%table.table-striped
  %tr
    %th Title
    %th Date Added
    %th
  - @course.documents.each do |doc|
    %tr
      %td 
        =link_to doc.title, document_path(doc)
      %td
        =doc.created_at
      %td
        - if doc.file.exists?
          =link_to doc.file.url, :class => 'btn' do
            %i.icon-download
            Download
    
= link_to new_document_path({:course => @course}), :class => 'btn' do
  %i.icon-upload
  Add Document
%hr

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
